/* Font styling for Source Code Pro */

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust the font weight as needed (200-900) */
  font-style: normal;
}

/* Container styles */
.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  color: #9763f6; /* Text color */
  font-size: 20px;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.2); /* Box shadow with RGBA */
  border-radius: 30px;
  background-color: white; /* Background color */
}

/* Link styles */
.Link {
  padding-bottom: 2px;
  cursor: pointer; /* Pointer cursor for links */
}

.Link:hover {
  border-bottom: 2px solid #9763f6; /* Border bottom color on hover */
  transition: border-bottom 0.2s ease-out; /* Smooth transition */
}

/* Main section styles */
.main {
  position: absolute;
  top: 5%; /* Position from top */
  left: 25%; /* Position from left */
  width: 50vw; /* 50% of viewport width */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .Container {
    flex-direction: column; /* Stack items vertically */
    border-radius: 10px; /* Reduce border radius */
    width: 90vw; /* 90% of viewport width */
    justify-content: center; /* Center items horizontally */
    column-gap: 20px; /* Spacing between columns */
    font-size: 12px; /* Smaller font size */
    background-color: white; /* Background color */
    padding: 10px; /* Reduced padding */
  }

  .main {
    top: 2%; /* Adjusted position from top */
    left: 5%; /* Adjusted position from left */
    width: 90vw; /* 90% of viewport width */
  }
}
